body{
    background-color: #212534;
}

.canv{
    margin: auto;
    border-radius: 8px;
}

.out{
    height: 500px;
    width: 250px;
    background-color: bisque;
}

.in1{
    background-color: #212534;
    height: 320px;
    width: 240px;
    position: relative;
    top: 5px;
    text-align: center;
}

.in2{
    background-color: #212534;
    height: 165px;
    width: 240px;
    position: relative;
    top: 10px;
}


.cookie-jar{
    height: 200px;
    width: 240px;
    position: relative;
    top: 20px;
}

.cookie{
    height: 200px;
    width: 200px;
    animation: rotation 30s infinite linear;
}

.cookie:active{
    width: 180px;
    height: 180px;
}

.counter{
    background: #ffe4c4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 300%;
}

.stats{
    color: bisque;
    font-size: large;
}

.click-auto{
    height: 30px;
    width: 30px;
    border: bisque solid 4px;
    background: #212534;
    border-radius: 20%;
    position: relative;
    top: 5px;
    left: 5px;
    text-align:center;
}

.click-auto:active{
    height: 25px;
    width: 25px;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }