body {
    background-color: #212121;
    color: bisque;
}
.score-holder{
    margin: auto;
    text-align: center;
}

.cookie-container{
    width: auto;
    height: 260px;
    text-align: center;
}

.card-img-top{
    animation: rotation 30s infinite linear;
}

.card-img-top:active{
    height: 245px;
    width: 245px;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }